
h2 {
    font-size: 28px;
    font-weight: bold;
    color: #f8bfbf;
    margin: 50px 0 ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

    main {
        padding: 20px;
        margin-top: 70px;
    }


/* Navigation Links in the Center */
#navigation-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

#navigation {
    display: flex;
    gap: 25px;
}

#navigation a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: rgb(83, 82, 82);
    background-color: #ecd5c8;
    font-size: 18px;
    font-weight: bold;
    border: 1px ridge #3d3d3d;
    padding: 5px 15px;
    border-radius: 25px;
    line-height: 1;
    transition: background-color 0.3s, color 0.3s;
}

#navigation a:hover {
    background-color: rgb(255, 211, 211);
    color: rgb(150, 130, 143);
}

    

/* Container for products with a grid layout */
.Products {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 20px;
    margin-top: 40px;
    overflow-x: auto;
    white-space: nowrap;
}

.Product {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    
}

.Product img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.Product h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.Product p {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.Product .price {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.Product .quantity {
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
    background-color: #f0f0f0;
    text-align: center;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.buttons a {
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
}

.buttons a:hover {
    background-color: #f0f0f0;
}


footer {
    margin-top: 70px;
    text-align: center;
    justify-content: space-between;
    background-color: #fff2eb;
    padding: 15px 30px;
    border-top: 2px solid #3d3d3d;
}
