#MyCart {
    display: flex;
    justify-content: center;  /* لمحاذاة النص أفقيًا */
    align-items: center;      /* لمحاذاة النص عموديًا */
    width: 110px;
    height: 20px; /* زيادة الارتفاع قليلاً لتحسين المظهر */
    text-align: center;
    border: 2px solid #dabfb7;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f7e9e9;
    border-radius: 5px;
    font-weight: bold;
}



#ViewCartMain {
    padding: 20px;
    margin-top: 100px;
    
}

#checkOutMain {
    width: 800px;
    height: 100px; 
    text-align: center; 
    border: 2px solid #f0f0f0;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    
    margin: 170px auto; 
    

}
#pay 
{
    justify-content: center;
   
}

#HP {

    text-align: center;
    margin: 20px auto; 
}

#HP a {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-decoration: none;
    color: #000; 
}







.CartElemnt {
    width: 900px;
    height: 128px;
    text-align: left;
    border: 2px solid #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;

    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;

}


.CartElemntImg img {
    width: 120px;
    height: 120px;
    border: 2px solid #000; 
    padding: 5px; 
    margin-top: -2px;
    
} 

.image-Down {
    display: inline-block;
    border: 2px solid #000; 
   
    padding: 5px;           
    border-radius: 4px;      
    box-sizing: border-box;  
    width: 18;
    height: 18;
}

.CartElemntImgDown input[type="image"] {
    display: block;          
    width: 17px;
    height: 17px;
    padding: 0;              
    margin: 0;               
}
.image-Down:hover {
    background-color: #f8bfbf; /* تغيير لون البوردر إلى الأحمر عند مرور الفأرة */
}
.checkout-button:hover{
    background-color: #f8bfbf;
}

.productNameee{
    line-height: 55px;
}



input[type="number"] {
    width: 40px;
    padding: 5px;
}

.productName{
    margin-top: -4%;
    line-height: 20px;
}

.price{
    margin-top: -6%;
    line-height: 100px;
}

pre.check {
    font-size: 15px ;
   
    font-weight: bold ;
}

.c {
    width: 350px;
    height: 350px;
    text-align: left;
    border: 2px solid #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
line-height: 15px;
 position: absolute;
    top: 250px; 
    right: 50px; 
}



.cart-buttons {
    text-align: center;
    margin-top: 20px;
}

.cart-buttons input[type="button"] {
    padding: 15px 30px;
    margin: 5px;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    background-color: #f8f8f8;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


    position: absolute;
    top: 750px; 
    right: 160px; 
    
}

.cart-buttons input[type="button"]:hover {
    background-color: #f8bfbf;
}


.checkout-button a {
    display: block;       
    height: 100%;        
    width: 100%;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: bold;
   
}





.checkout-button{
    height: 25;
    width: 50;
    padding: 13px 20px;
    margin: 30px;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
  margin-top: 80px;

}









.qty-btn {
    width: 25px;
    height: 25px;
    background-color: #f0f0f0;
    border:none;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    
}



#quantity {
    width: 25px;
    height: 25;
    text-align: center;
    border: none;
    background-color: #fff;
}




.breadcrumb2 {
    display: flex;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 20px 20px;
    font-weight: bold;
    font-size: 16px;
    color: #666;
    border: 1px solid #e4cbcb;
    background-color: #fff2eb;
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: 3px;
    z-index: 1;
    line-height: 2px;
}

.breadcrumb2 a {
    text-decoration: none;
    color: #af7e7e;
}

.breadcrumb2 a:hover {
    color: #e4a3a3;
}

.breadcrumb2 span {
    color:  #995a5a;
}